@charset "utf-8";

.nosh-calendar { border: 1px #dddddd solid; font-size: 14px; position: absolute; display: none; background: #ffffff; }
.nosh-calendar .nosh-header { border-bottom: 1px #dddddd solid; position: relative; text-align: center; padding: 8px 0; }
.nosh-calendar .nosh-header label { padding: 0 3px; }
.nosh-calendar .nosh-header > a { position: absolute; top: 8px; padding: 0 10px; text-decoration: none; color: #42b983; }
.nosh-calendar .nosh-header > a:hover { color: #e96900; }
.nosh-calendar .nosh-header .nosh-prev { left: 0; }
.nosh-calendar .nosh-header .nosh-next { right: 0; }
.nosh-calendar .nosh-footer { border-top: 1px #dddddd solid; text-align: center; padding: 8px 50px 8px 0; position: relative; }
.nosh-calendar .nosh-footer ul { margin: 0; padding: 0; white-space: nowrap; }
.nosh-calendar .nosh-footer .day { padding-right: 6px; }
.nosh-calendar .nosh-footer .btns { padding-left: 6px; }
.nosh-calendar .nosh-footer .btns-today { position: absolute; right: 6px; top: 8px; }
.nosh-calendar .nosh-footer li { margin: 0; padding: 0; list-style: none; display: inline-block; }
.nosh-calendar .nosh-footer select { margin-right: 3px; }
.nosh-calendar .nosh-footer button { background: #42b983; color: #ffffff; border: 0; border-radius: 3px; cursor: pointer; height: 24px; }
.nosh-calendar .nosh-footer .nosh-set-today { background: #967adc; }
.nosh-calendar .nosh-days { display: inline-block; }
.nosh-calendar .nosh-days table { width: 100%; text-align: center; font-size: 12px; line-height: 100%; border-collapse: separate; border-spacing: 2px; }
.nosh-calendar .nosh-days th { width: 14%; color: #999999; background: #f6f6f6; padding: 8px 0; border-radius: 2px; }
.nosh-calendar .nosh-days td { padding: 8px 0; border-radius: 2px; cursor: pointer; }
.nosh-calendar .nosh-days td:hover { color: #e96900; }
.nosh-calendar .nosh-days td.today { background: #f6bb42; color: #ffffff; position: relative; }
.nosh-calendar .nosh-days td.today::before { width: 10px; content: "今"; position: absolute; right: 3px; top: 3px; font-size: 10px; font-family: "PMingLiu"; }
.nosh-calendar .nosh-days td.selected { background: #42b983; color: #ffffff; }
.nosh-calendar .nosh-days td.disabled { color: #999999; cursor: auto; }
